.checkout__cancelled {
   min-height: 86vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.checkout__cancelled h1 {
   font-size: 24px;
   color: #dc3545;
   text-align: center;
   max-width: 500px;
   margin-bottom: 14px;
   font-weight: 700;
   margin-top: -30px;
}

.checkout__cancelled h4 {
   font-size: 17px;
   text-align: center;
   max-width: 500px;
   margin-bottom: 14px;
}

.checkout__cancelled p {
   font-size: 14px;
   text-align: center;
   max-width: 500px;
   font-weight: 600;
   color: #333 !important;
}

.checkout__cancelled p span {
   font-weight: 600;
   color: var(--primary-color);
}
