.wrapper {
   height: 185px;
   overflow: hidden;
   position: relative;
}

.wrapper:hover img {
   transform: scale(1.2);
}

.img {
   width: 100%;
   height: 100%;
}

.img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: 0.5s ease-in-out;
}

.text {
   position: absolute;
   left: 35px;
   top: 15%;
}

.text h3 {
   color: #ffffff;
   font-family: 'Courgette', cursive;
   font-weight: 500;
   padding-bottom: 8px;
   width: 100%;
   font-size: 16px;
}

.text h2 {
   color: #fff;
   font-family: 'Lato';
   font-size: 20px;
   font-weight: 700;
   text-transform: uppercase;
   font-family: 'Philosopher', sans-serif;
   width: 100%;
}

/* screens less than 992px in width */
@media only screen and (max-width: 992px) {
   .wrapper {
      height: 120px;
      margin-bottom: 15px;
   }
}

/* screens less than 992px in width */
@media only screen and (max-width: 650px) {
   .wrapper {
      height: 90px;
      margin-bottom: 15px;
   }
}
