/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/*  css variables */
:root {
   --card-bg-01: #fdefe6;
   --card-bg-02: #d6e5fb;
   --card-bg-03: #ceebe9;
   --card-bg-04: #e2f2b2;
   --primary-color: #0445a0;
   /* --primary-color: #0a1d37; */
   --hero-bg: #d6e5fb;
   --heading-fontSize: 2rem;
   --small-text-color: #999;
   --heading-text-color: #333;
}

/* reset browser default */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 14px;
}

section {
   padding: 30px 0px;
}

.section__title {
   color: var(--heading-text-color);
   font-weight: 700;
   padding-bottom: 1rem;
   font-family: 'Philosopher', sans-serif;
   font-size: 22px;
}

.container-fw {
   width: 100% !important;
}

.content__height {
   min-height: 95vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   padding: 0;
   margin: 0;
}

p {
   color: var(--small-text-color);
   font-size: 1rem;
}

h1,
h2 {
   font-size: var(--heading-fontSize);
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: unset;
}

img {
   width: 100%;
}

/* screens less than 992px in width */
@media only screen and (max-width: 992px) {
   .container-flexible {
      max-width: 820px !important;
   }

   section {
      padding: 30px 10px;
   }
}

/* screens less than 850px in width */
@media only screen and (max-width: 850px) {
   .container-flexible {
      max-width: 700px !important;
   }
}

/* screens less than 850px in width */
@media only screen and (max-width: 650px) {
   .container-flexible {
      max-width: 550px !important;
   }
}

/* screens less than 480px in width */
@media only screen and (max-width: 480px) {
   .container-flexible {
      max-width: 400px !important;
   }
}

/* 992, 768, 576 */
